#breadcrumbs ul {
    float: left;  
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
}

#breadcrumbs ul li {
	float: left;
	height: 14px;
	white-space: nowrap;
	margin-right: 5px;
	line-height: 14px;
	color: #151515;
}

#breadcrumbs ul li a {
	color: #151515;
	text-decoration: none;
}

#breadcrumbs ul li a:hover {
	text-decoration: underline;
}